// Main title words and introduction phrase

.introSection {
    display: flex;
    position: relative;
    width: 100%;
    height: 60rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(59,0,255);
    background: linear-gradient(90deg, rgba(59,0,255,1) 0%, rgba(220,27,228,1) 52%, rgba(230,189,244,1) 100%);
}

@media (max-width:450px){
.introSection {
    height: 40rem;
      }
}

.introMessageOne{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-family: CAH;
}

@media (max-width:1200px){
.introMessageOne{
    font-size: 3rem;
      }
}

@media (max-width:820px){
.introMessageOne {
    font-size: 2.4rem;
      }
}

@media (max-width:450px){
.introMessageOne {
    font-size: 1.5rem;
      }
}

.introMessageTwo{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: CAH;
    padding: 0rem;
    margin: -2rem;
}

@media (max-width:1200px){
.introMessageTwo {
    font-size: 1.4rem;
    padding-top: 1rem;
    }
}

//Logo in main gradient section

.introLogo{
    position: absolute;
    opacity: 0.1;
    padding-bottom: 1rem;
    height: 30rem;
    width: auto;
}

@media (max-width:820px){
.introLogo {
    height: 30rem;
    width: auto;
      }
}

@media (max-width:450px){
.introLogo {
    height: 16rem;
    width: auto;
      }
}

.blurEffect{
    width: 100%;
    height: 1rem;
    background-color: rgb(20, 18, 20);
    filter: blur(20px);
    margin-top: -1rem;
}

