//BUTTON CSS BY SQUARESHOT : https://getcssscan.com/css-buttons-examples
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

@media (max-width:414px){
.buttonContainer{
    width: 90%
}}

@media (max-width:414px){
.buttonContainerDesktop{
    display: none;
}}

.buttonContainerMobile{
    display: none;
}

@media (max-width:414px){
.buttonContainerMobile{
    display: flex;
}}

.textInput,
.enterButton,
.dareButton {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid rgb(14, 2, 29);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-family: CAH;
  height: 3rem;
  justify-content: space-evenly;
  line-height: 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  margin-top: 1rem;
  -webkit-user-select: none; /* Safari */      
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.textInput{
  width: 100%;
  margin-right: 1%;
}

@media (max-width:414px){
.textInput{
  font-size: 0.85rem;
}}

.enterButton{
  width: 6%;
  background-color: #f1daff;
}

@media (max-width:414px){
.enterButton{
  font-size: 0.85rem;
  width: 3rem;
}}

.dareButton{
  width: 49%;
}

.dareButton:after {
  //background: linear-gradient(90deg, rgba(176,0,255,1) 0%, rgba(69,16,158,1) 57%, rgba(92,69,143,1) 97%);
  //background: linear-gradient(79deg, rgba(99,9,121,1) 0%, rgba(210,44,242,1) 35%, rgba(217,9,243,1) 70%, rgba(158,0,255,1) 100%);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.dareButton:hover:after {
  transform: translate(0, 0);
}

.dareButton:active {
  background-color: #f1daff;
  outline: 0;
}

.dareButton:hover {
  outline: 0;
}

@media (max-width:414px){
.dareButton{
  font-size: 0.85rem;
  width: 100%;
}}

.spiceNoButton{
  margin-left: 2%;
}

@media (max-width:414px){
.spiceNoButton{
    margin-left: 0;
}}

.resizeButton{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: -1.4rem;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: CAH;
    font-size: 1.2rem;
    -moz-transition:color .25s ease-in-out;
    -o-transition:color .25s ease-in-out;
    -webkit-transition:color .25s ease-in-out;
    transition:color .25s ease-in-out;
}

.resizeButton:hover{
  color: rgb(81, 69, 69);
}

.resizeButton:hover:after{
  transform: scale(2rem, 2rem);
}

.maximizeButton{
  margin-right: -3rem;
}

