//BUTTON CSS BY SQUARESHOT : https://getcssscan.com/css-buttons-examples
.button_container{
    display: flex;
    justify-content: center;
}
.buttonRandomDare {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid rgb(14, 2, 29);
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-family: CAH;
  height: 48px;
  justify-content: space-evenly;
  line-height: 24px;
  width: 30%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  margin-top: 1rem;
  -webkit-user-select: none; /* Safari */      
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; 
  margin: 1rem;
}

.buttonRandomDare:after {
  //background: linear-gradient(90deg, rgba(176,0,255,1) 0%, rgba(69,16,158,1) 57%, rgba(92,69,143,1) 97%);
   background: linear-gradient(79deg, rgba(99,9,121,1) 0%, rgba(210,44,242,1) 35%, rgba(217,9,243,1) 70%, rgba(158,0,255,1) 100%);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.buttonRandomDare:hover:after {
  transform: translate(0, 0);
}

.buttonRandomDare:active {
  background-color: #f1daff;
  outline: 0;
}

.buttonRandomDare:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.minMaxButton{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: CAH;
    font-size: 1.2rem;
    -moz-transition:color .25s ease-in-out;
    -o-transition:color .25s ease-in-out;
    -webkit-transition:color .25s ease-in-out;
    transition:color .25s ease-in-out;
}

.minMaxButton:hover{
    color: rgb(81, 69, 69);
}

.minMaxButton:hover:after{
    transform: scale(2rem, 2rem);
}