.bodySection {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.dareSection {
    height: max-content;
    padding-bottom: 1.5rem;
    width: 90%;
    margin: 1rem;
    font-size: 2rem;
    font-family: CAH;
    color: rgb(255, 255, 255);
    background-color: rgba(26, 29, 26, 0.7);
    border-radius: 0.3rem;
    flex-direction: column; 
}

.inputsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.outputDareNumber{
    position: relative;
    opacity: 20%;
    width: 1rem;
    font-size: 9rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
    margin-bottom: -7.3rem;
    margin-top: -0.1rem;
}

@media (max-width:414px){
.outputDareNumber{
    margin-bottom: -8.3rem;
    font-size: 5rem;
}
}

.outputDareText{  
    padding-left: 1rem;
    padding-bottom: 1rem;
    height: 2rem;
    opacity: 1;
}

@media (max-width:414px){
.outputDareText{
    padding-top: 3rem;
    font-size: 1.5rem;
}
}

@media (max-width:414px){
.dareSection{
    height: 10rem;
}
}

/*
#dareContainer{
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3 ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3 ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

#dareContainer.fade{
    opacity: 1;
}
*/

.dareInfoBar{
    display: flex;
    flex-direction: row;
    background-color:rgb(40,36,36);
    width: 75%;
    height: 5rem;
    padding: 1rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-bottom: -3.3rem;
    border-radius: 1rem;
    z-index: 99;
    justify-content: space-between;
}


@media (max-width:414px){
.dareInfoBar{
    margin-left: 0rem;
    margin: auto;
    height: 3rem;
    padding-top: 0rem;
}}

.dareList{
    background-color:rgb(40,36,36);
    color: rgba(255, 255, 255, 0.35);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: 2px solid rgba(255, 255, 255, 0.305);
    padding: 1rem;
    padding-right: 4rem;
    margin-left: 2rem;
    margin-top: -2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 10rem;
    width: 75%;
    text-overflow: ellipsis;
    height: 30rem;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    line-height: 0.5rem;
}

.dareList::-webkit-scrollbar {
    display: none;
}

@media (max-width:414px){
.dareList{
    margin-left: 0rem;
    margin: auto;
    margin-top: -2rem;
}}

.dareTitle{
    font-size: 3rem;
}

@media (max-width:414px){
.dareTitle{
    padding-top: 1rem;
    font-size: 1.4rem;
}}


.dareText{
    font-size: 1.45rem;
    -moz-transition:color .25s ease-in-out;
    -o-transition:color .25s ease-in-out;
    -webkit-transition:color .25s ease-in-out;
    transition:color .25s ease-in-out;
    list-style-type: numbered;
    padding-top: 2rem;
    width: max-content;
    margin-left: 0.3rem;
    text-overflow: ellipsis;
}

@media (max-width:414px){
.dareText{
    font-size: 1rem;
    line-height: 0.1rem;
}}

.dareText:hover{
    color: rgb(255, 255, 255);
}

.rules_section {
    height: auto;
    width: 90%;
    margin: 1rem;
    margin-top: 3rem;
}