 body[data-aos-duration='4000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
  }
  
@import "../../node_modules/aos/src/sass/aos.scss";
@import "navbar.scss";
@import "body.scss";

@font-face {
   font-family: 'CAH';
   src: url(../../fonts/Helvetica-Bold-Font.ttf);
}

html,
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-color: rgb(20, 18, 20);
    height: 100%;
}

